<div class="cards">
<% @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail) do %>
  <div class="card-cocktail">
    <p><%= cocktail.name %></p>
  </div>
  <% end %>
<% end %>
</div>



<%= link_to 'Create A Cocktail', new_cocktail_path, class: "btn btn-primary" %>

