<%= video_tag "bar.mp4", autoplay: true, playsinline: true, loop: true, muted: true, controls: false, class: "home_video" %>
      <h1 class="home">Kally's Bar</h1>
<%= link_to 'Create A Cocktail', new_cocktail_path, class: "btn btn-primary" %>

